$text-blue         : #36D;
$text-green        : #2A4;
$text-slategrey    : #789;
$text-grey         : #888;
$text-purple       : #A6D;
$text-red          : #E22;
$text-yellow       : #DA0;
$text-orange       : #E60;