$text-black        : #000;
$text-white        : #fff;
$text-grey         : #888;
$text-slategrey    : #789;
$text-red          : #C33;
$text-blue         : #36D;
$text-green        : #183;
$text-purple       : #84C;
$text-yellow       : #DA0;
$text-orange       : #E60;