extends /_pugs/_layouts/core
block append vars
  include /_pugs/_nav
  -
    path  = ['core',path].join('/')
    title = [title,'Core'].join(' | ')
block nav
  +nav_('core')
block footer
  p: small.mono // by #{author} !{year}