extends _html
block append vars
  -
    path   = 'demo.html'
    title  = `Demo`
block style
  style.
    ._main { border: 1px solid #8888 }
block content
  include ./demo_.html
block footer
  code // by Techie Joe !{year}