-
  version = '0.0.1'

  siteUrl = '/core-dev/'
  
  title   = 'Core Development'
  description = 'This project is made to test and develop the Core.'
  
  charset = 'utf-8'
  lang = 'en-US'
  themeColor  = '#222'
  colorScheme = 'light dark'