-
  version      = '0.0.2'

  site_url     = '/core-dev/'
  pugs_url     = '/core-dev/x/'
  
  title        = 'Core Development'
  description  = 'This project is made to test and develop the Core.'
  
  charset      = 'utf-8'
  lang         = 'en-US'
  theme_color  = '#222'
  color_scheme = 'light dark'