-
  title        = 'Dove'
  description  = 'A theme development project.'
  //- title       = "The title of your site"
  //- description = "Short description of your site's purpose."

  author       = 'Techie Joe'

  version      = '0.0.7'
  revision     = '2601.07'

  base_url     = '/dove'
  home_url     = '/dove'
  
  live_url     = 'https://techie-joe.github.io/dove'
  source_url   = 'https://github.com/techie-joe/dove'

  charset      = 'utf-8'
  lang         = 'en-US'
  theme_color  = '#222'
  color_scheme = 'light dark'

  ghost        = btoa([ "localhost", "localhost:4000", "techie-joe.github.io" ])
  //- ghost = your-tracking-id
  //- # to track your ThemeJs.

  //- show_downloads = true/false
  //- # to indicate whether to provide a download URL.