-
  version      = '0.0.2'
  revision     = '33'

  live_url     = 'https://techie-joe.github.io/dove'
  source_url   = 'https://github.com/techie-joe/dove'

  site_url     = '/dove'
  home_url     = '/dove'
  
  title        = 'Dove'
  description  = 'Dove is a theme development project.'
  author       = 'Techie Joe'
  
  charset      = 'utf-8'
  lang         = 'en-US'
  theme_color  = '#222'
  color_scheme = 'light dark'
  ghost        = btoa([ "localhost", "techie-joe.github.io" ])

  //- google_analytics     = 'google_analytics_id'
  //- cloudflare_analytics = 'cloudflare_analytics_id'