-
  version      = '0.0.2'

  site_url     = '/core-dev'
  home_url     = '/core-dev/x'
  
  title        = 'CoreDev'
  description  = 'This project is made to test and develop the Core.'
  
  charset      = 'utf-8'
  lang         = 'en-US'
  theme_color  = '#222'
  color_scheme = 'light dark'

  //- google_analytics     = 'google_analytics_id'
  //- cloudflare_analytics = 'cloudflare_analytics_id'