---
layout: html
use_pug: true
title: Dove
description: A theme development project.
---
<!DOCTYPE html>
<html class="_dove_layout _prime_layout" lang="en-US"><!-- path   : index.html -->
  <!-- layout : dove/_source/_layouts/dove -->
  <head>
    <meta charset="utf-8"/>{% seo %}
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222"/>
    <link id="_style" rel="stylesheet" href="{{ site.base_url }}/assets/prime/css/style.css?r={{ site.revision | default: '0' }}.{{ site.github.build_revision | default: '0' }}"/>
    <style>
      ._footer { margin-top:1rem !important }
      h1.hero { font-family: 'Arial',system-ui,sans-serif }
      article #pages_ ul,
      article #posts_ ul,
      article .rapat { margin:1rem 0;padding-left:1.3em }
      article #pages_ ul li,
      article #posts_ ul li,
      article .rapat li { margin-left:0 }
    </style>{% include layout_head.html %}<!--[if lt IE 9]><script src="https://unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="_views">
      <div class="_view">
        <div class="_layout _1200">
          <div class="container-lg px-3 my-5 markdown-body">
            <header class="_header">
              <div class="_layout">
                <h1>🕊️ Dove is a theme development project</h1>
              </div>
            </header>
            <nav class="_nav">
              <div class="_layout">{% capture nav %}{% include dove/nav.md %}{% endcapture %}{{ nav | markdownify }}
              </div>
            </nav>
            <main class="_main">
              <article class="_article">
                <div class="_layout">
                  <div class="flex" style="gap:3rem">
                    <div class="fill">
                      <h3 class="mt-0">Themes</h3>
                      <p class="text-grey">We are currently working on the following themes.</p>
                      <nav>
                        <ul class="rapat">
                          <li>
<a href="/dove/core/"><b>Core</b></a>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/core/preview.html">Preview</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/core/home.html">Home</a>
<a href="/dove/core/page.html">Page</a>
<a href="/dove/core/404.html">404</a>
                          </li>
                          <li>
<a href="/dove/mallet/"><b>Mallet</b></a>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/mallet/preview.html">Preview</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/mallet/home.html">Home</a>
<a href="/dove/mallet/page.html">Page</a>
<a href="/dove/mallet/404.html">404</a>
                          </li>
                          <li>
<a href="/dove/nova/"><b>Nova</b></a>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/nova/preview.html">Preview</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/nova/home.html">Home</a>
<a href="/dove/nova/page.html">Page</a>
<a href="/dove/nova/404.html">404</a>
                          </li>
                          <li>
<a href="/dove/prime/"><b>Prime</b></a>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/prime/preview.html">Preview</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/prime/home.html">Home</a>
<a href="/dove/prime/page.html">Page</a>
<a href="/dove/prime/404.html">404</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  <hr class="thin"/>
                  <p class="text-grey">These are supporting posts and pages for development puposes.</p>{% capture pages %}{% include pages.md exclude="" %}{% endcapture %}{% capture posts %}{% include posts.md exclude="" %}{% endcapture %}
                  <div class="flex" style="gap:3rem">
                    <div id="pages_" style="min-width:250px">
                      <h3 class="mt-0">Pages</h3>{{ pages | markdownify }}
                    </div>
                    <div id="posts_" style="min-width:150px">
                      <h3 class="mt-0">Posts</h3>{{ posts | markdownify }}
                    </div>
                  </div>
                  <hr class="thin"/>
                  <h3>Configurations</h3>{% capture config %}{% include_relative _config.md %}{% endcapture %}{{ config | markdownify }}
                </div>
              </article>
            </main>
            <footer class="_footer footer mt-5">
              <div class="_layout">{% capture footer %}{% include dove/footer.md %}{% endcapture %}{{ footer | markdownify }}
                <hr class="thin"/>
                <p class="text-right text-gray"><small>
                    This site is open source.
                    <a href="https://github.com/techie-joe/dove/edit/main/_source/index.html.pug">Improve this page</a>.</small></p>
              </div>
            </footer>
          </div>
        </div>
      </div>
      <div class="_view">
        <div class="_layout _1200">{% include theme_switch.html %}</div>
      </div>{% include layout_body.html %}
    </div>
  </body>
</html>