---
layout: html
title: 'Home'
---
<!DOCTYPE html>
<html class="_prime_layout" lang="en-US"><!-- path   : index.html -->
  <!-- layout : dove/_source/_layouts/prime -->
  <head>
    <meta charset="utf-8"/>{% seo %}
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222"/>
    <link id="_style" rel="stylesheet" href="/dove/assets/prime/css/style.css?r=2511.03.6540"/>
    <style>
      ._footer { margin-top:1rem !important }
      h1.hero { font-family: 'Arial',system-ui,sans-serif }
      article #pages_ ul,
      article #posts_ ul,
      article .rapat { margin:1rem 0;padding-left: 0;list-style: inside }
      article #pages_ ul li,
      article #posts_ ul li,
      article .rapat li { margin-left:0 }
    </style>{% include layout_head.html %}<!--[if lt IE 9]><script src="https://unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="_views">
      <div class="_view">
        <div class="_layout _1200">
          <div class="container-lg px-3 my-5 markdown-body">
            <header class="_header">
              <div class="_layout">
                <h1>🕊️ Dove is a theme development project.</h1>
              </div>
            </header>
            <nav class="_nav">
              <div class="_layout">
                <p style="margin:1rem 0"><b>Home</b>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/pages">Pages</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/posts">Posts</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/vars">Variables</a>
                </p>
                <hr class="thin border-gray-light"/>
              </div>
            </nav>
            <main class="_main">
              <article class="_article">
                <div class="_layout">
                  <div class="flex" style="gap:3rem;margin:1rem auto 1rem auto">
                    <div class="f" style="min-width:350px">
                      <h3 class="mt-0">Markdown</h3>
                      <nav>
                        <ul class="rapat">
                          <li><b>Core</b>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/core/preview.html">Preview</a>
<a href="/dove/core/legacy.html">Legacy</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/core/">Home</a>
<a href="/dove/core/page.html">Page</a>
<a href="/dove/core/404.html">404</a>
                          </li>
                          <li><b>Mallet</b>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/mallet/preview.html">Preview</a>
<a href="/dove/mallet/legacy.html">Legacy</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/mallet/">Home</a>
<a href="/dove/mallet/page.html">Page</a>
<a href="/dove/mallet/404.html">404</a>
                          </li>
                          <li><b>Nova</b>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/nova/preview.html">Preview</a>
<a href="/dove/nova/legacy.html">Legacy</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/nova/">Home</a>
<a href="/dove/nova/page.html">Page</a>
<a href="/dove/nova/404.html">404</a>
                          </li>
                          <li><b>Prime</b>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/prime/preview.html">Preview</a>
<a href="/dove/prime/legacy.html">Legacy</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/prime/">Home</a>
<a href="/dove/prime/page.html">Page</a>
<a href="/dove/prime/404.html">404</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="f" style="min-width:350px">
                      <h3 class="mt-0">Html</h3>
                      <nav>
                        <ul class="rapat">
                          <li><b>Core</b>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/core/preview.html">Preview</a>
<a href="/dove/core/legacy.html">Legacy</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/core/">Home</a>
<a href="/dove/core/page.html">Page</a>
<a href="/dove/core/404.html">404</a>
                          </li>
                          <li><b>Mallet</b>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/mallet/preview.html">Preview</a>
<a href="/dove/mallet/legacy.html">Legacy</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/mallet/">Home</a>
<a href="/dove/mallet/page.html">Page</a>
<a href="/dove/mallet/404.html">404</a>
                          </li>
                          <li><b>Nova</b>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/nova/preview.html">Preview</a>
<a href="/dove/nova/legacy.html">Legacy</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/nova/">Home</a>
<a href="/dove/nova/page.html">Page</a>
<a href="/dove/nova/404.html">404</a>
                          </li>
                          <li><b>Prime</b>
<i class="_icon"><i class="isvg">
                                <svg viewBox="0 0 24 24">
                                  <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                                </svg></i></i>

<a href="/dove/prime/preview.html">Preview</a>
<a href="/dove/prime/legacy.html">Legacy</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/dove/prime/">Home</a>
<a href="/dove/prime/page.html">Page</a>
<a href="/dove/prime/404.html">404</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  <hr class="thin border-gray-light"/>{% capture pages %}{% include pages.md %}{% endcapture %}{% capture posts %}{% include posts.md %}{% endcapture %}
                  <div class="flex" style="gap:3rem;margin:1rem auto 1rem auto">
                    <div id="pages_" style="min-width:150px">
                      <h3 class="mt-0">Pages</h3>{{ pages | markdownify }}
                    </div>
                    <div id="posts_" style="min-width:150px">
                      <h3 class="mt-0">Posts</h3>{{ posts | markdownify }}
                    </div>
                  </div>
                  <hr class="thin border-gray-light"/>
                  <h3>Configurations</h3>{% capture config %}{% include_relative config.md %}{% endcapture %}{{ config | markdownify }}
                </div>
              </article>
            </main>
            <footer class="_footer footer mt-5">
              <div class="_layout">
                <hr class="thin border-gray-light"/>
                <nav>
                  <p><b>Dove</b>
<i class="_icon"><i class="isvg">
                        <svg viewBox="0 0 24 24">
                          <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                        </svg></i></i>

<a href="https://github.com/techie-joe/dove" target="_edit">Repository</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="https://techie-joe.github.io/proto" target="_test">Proto</a>
                  </p>
                  <hr class="thin border-gray-light"/>
                  <p><b>Techie Joe's</b>
<i class="_icon"><i class="isvg">
                        <svg viewBox="0 0 24 24">
                          <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                        </svg></i></i>

<a href="https://techie-joe.github.io" target="_techiejoes">Website</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="https://github.com/techie-joe" target="_github">Profile</a>
<i class="_icon"><i class="itext">&bull;</i></i>

<a href="/nova/site/themejs" target="_themejs">ThemeJs</a>
                  </p>
                </nav>
                <hr class="thin border-gray-light"/>
                <p class="text-right text-grey"><small>
                    This site is open source.
                    <a href="https://github.com/techie-joe/dove/edit/main/_source/index.html.pug">Improve this page</a>.</small></p>
              </div>
            </footer>
          </div>
        </div>
      </div>
      <div class="_view">
        <div class="_layout _1200">{% include theme_switch.html %}</div>
      </div>{% include layout_body.html %}
    </div>
  </body>
</html>