---
index: false
use_footer: edit_link_only
layout: html
use_pug: true
title: Test Pug
description: Testing something here.
---
<!DOCTYPE html>
<html class="_prime_layout" lang="en-US">
<!-- path   : test_pug.html -->
<!-- layout : dove/_source/_layouts/prime -->
  <head>
    <meta charset="utf-8"/>
{% seo %}
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222"/>
    <style>.isvg svg { width:1em;height:1em }</style>
    <link id="_style" rel="stylesheet" href="{{ site.base_url }}/assets/prime/css/style.css?r={{ site.revision | default: '0' }}.{{ site.github.build_revision | default: '0' }}"/>
{% include layout_head.html %}
<!--[if lt IE 9]><script src="https://unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="_views">
      <div class="_view">
        <div class="_layout _1200">
          <div class="container-lg px-3 my-5 markdown-body">
            <header class="_header">
              <div class="_layout">
                <h1>{%- include dove/logo.html %}</h1>
              </div>
            </header>
            <nav class="_nav">
              <div class="_layout">{%- capture nav %}{%- include dove/nav.md %}{%- endcapture %}
{{ nav | markdownify }}
              </div>
            </nav>
            <main class="_main">
              <article class="_article">
                <div class="_layout">
                  <nav>{%- capture nav_test %}{%- include dove/nav_test.md %}{%- endcapture %}
{{ nav_test | markdownify }}
                  </nav>
                  <hr class="thin"/>
                  {%-
                    include 404.md
                    title = "Sorry"
                    description = "There is nothing to show here."
                  %}
                </div>
              </article>
            </main>
            <footer class="_footer footer">
              <div class="_layout">{%- capture footer %}{%- include dove/footer.md %}{%- endcapture %}
{{ footer | markdownify }}
                <hr class="thin"/>
                <p class="text-right text-gray"><small>
                    This site is open source.
                    <a href="https://github.com/techie-joe/dove/edit/main/_source/test_pug.html.pug">Improve this page</a>.</small></p>
              </div>
            </footer>
          </div>
        </div>
      </div>
      <div class="_view">
        <div class="_layout _1200">
{% include theme_switch.html %}
        </div>
      </div>
{% include layout_body.html %}
    </div>
  </body>
</html>