extends _html
block append vars
  - path   = 'index.html'
  - title  = `Nova`
  - description = `New theme for your site.`
block header
  h1|{% include dove/logo.html %}
block nav
  //- no nav
  +hide_nav
block footer
  //- no site footer
  +_edit_link
block content
  style.
    .hero_block { padding:1rem 2rem }
    .hero_block .hero-title { margin-top:1rem }
    .hero_block .hero-description { margin-left: 3.3rem; font-size: 1.1em; }
    .hero_block .hero-hr { margin-top:45px }
  .hero_block.box
    h1.hero-title 🌌 !{title}
    p.hero-description !{description}

  +thin_hr
  nav.mv
    b Html
    +angle
    +site_nav(layout_name)

  +thin_hr
  nav.mv
    b Markdown
    +angle
    +site_nav(layout_name+'/md')

  +thin_hr
  nav.mv
    +test_nav(layout_name)