<header class="_header">
  <div class="_layout _header_layout">
    {% capture header -%}{% include header.md %}{%- endcapture %}
    {{ header | markdownify }}
  </div>
</header>
<nav class="_nav">
  <div class="_layout _nav_layout">
    {% capture nav -%}{% include nav.md %}{%- endcapture %}
    {{ nav | markdownify }}
  </div>
</nav>
<article class="_article">
  <div class="_layout _article_layout">
    {{ content }}
  </div>
</article>
<footer class="_footer">
  <div class="_layout _footer_layout">
    {% capture footer -%}{% include footer.md %}{%- endcapture %}
    {{ footer | markdownify }}
  </div>
</footer>
