$text-blue         : #57F;
$text-green        : #2A4;
$text-slategrey    : #789;
$text-grey         : #888;
$text-purple       : #A6D;
$text-red          : #E22;
$text-yellow       : #C90;
$text-orange       : #B50;
$text-orange-light : #E60;