@use "color" as *;
@use "base";
@use "helper";
@use "rouge";
@use "core";
// ---------------------------------------------------------------
._1020 { max-width:1020px; @extend .mc; }
._960 { max-width:960px; @extend .mc; }
// ---------------------------------------------------------------
// fixes
._nav,
._header,
._footer,
._main { border:1px solid transparent;margin:.5rem;padding:.5rem }
._footer {margin-bottom:3rem}
// ---------------------------------------------------------------
._logo { font-family: 'Arial', system-ui, sans-serif; }
._logo { font-weight: 600 }
._logo, ._nav, ._theme_switch {
  a { text-decoration:none !important; color:inherit }
  a:hover { color:$text-blue }
}