extends /_source/_layouts/dove
block append vars
  - path   = 'index.html'
block append style
  style.
    ._footer { margin-top:1rem !important }
    h1.hero { font-family: 'Arial',system-ui,sans-serif }
    article #pages_ ul,
    article #posts_ ul,
    article .rapat { margin:1rem 0;padding-left:1.3em }
    article #pages_ ul li,
    article #posts_ ul li,
    article .rapat li { margin-left:0 }
block header
  h1 🕊️ The !{site_title} Project
block content
  .flex(style="gap:3rem")
    .fill
      h3.mt-0 Themes
      p.text-grey We are currently working on the following themes.
      nav: ul.rapat
        li: +site_nav('core')
        li: +site_nav('mallet')
        li: +site_nav('nova')
        li: +site_nav('prime')
  +thin_hr
  p.text-grey These are supporting posts and pages for development purposes.
  //- - exclude_pages = [ ].join(",");
  //- - exclude_posts = [ ].join(",");
  +capture('pages')|{% include pages.md exclude="!{exclude_pages}" %}
  +capture('posts')|{% include posts.md exclude="!{exclude_posts}" %}
  .flex(style="gap:3rem")
    #pages_(style="min-width:250px")
      h3.mt-0 Pages
      |{{ pages | markdownify }}
    #posts_(style="min-width:250px")
      h3.mt-0 Posts
      |{{ posts | markdownify }}
  +thin_hr
  h3 Configurations
  +capture('config')|{% include_relative _config.md %}
  |{{ config | markdownify }}
