extends _html
block append vars
  - path   = 'index.html'
block prepend style
  //- style.
    @media (prefers-color-scheme: dark) {
      html,body { background-color:#000 }
    }
  style.
    #pages_ ul,
    #posts_ ul,
    .markdown-body .rapat { margin:1rem 0;padding-left:1.3em }
    #pages_ ul li,
    #posts_ ul li,
    .markdown-body .rapat li { margin-left:0 }
block header
  h1 🕊️ The !{site_title} Project
block content
  .flex(style="gap:3rem")
    .fill#themes_
      h3.mt-0 Themes
      p.text-grey We are working on the following themes.
      nav: ul.rapat
        li: +site_nav('core')
        li: +site_nav('mallet')
        li: +site_nav('nova')
        li: +site_nav('prime')
  +thin_hr
  |{%- if site.github.environment == 'development' -%}
  nav: +include('nav_test','dove/nav_test.md')
  +thin_hr
  |{%- endif %}
  p.text-grey These are supporting posts and pages for the project.
  //- - exclude_pages = [ ].join(",");
  //- - exclude_posts = [ ].join(",");
  +capture('pages')|{% include pages.md exclude="!{exclude_pages}" %}
  +capture('posts')|{% include posts.md exclude="!{exclude_posts}" %}
  .flex(style="gap:3rem")
    #pages_(style="min-width:250px")
      h3.mt-0 Pages
      |{{ pages | markdownify }}
      ul: li: +a('404') 404
    #posts_(style="min-width:250px")
      h3.mt-0 Posts
      |{{ posts | markdownify }}
  +thin_hr
  h3 Configurations
  +include_relative('config','_config.md')
