extends _html
block append vars
  - path   = 'index.html'
block append style
  //- style.
    @media (prefers-color-scheme: dark) {
      html,body { background-color:#000 }
    }
  style.
    ._header h1 { margin-top:1em }
    ._header h2 { padding-bottom:1.3em;margin-top:-0.7em }
    ._header #icon {
      position: absolute;
      font-size:1em;
      opacity:.2;
      right:10em;
      line-height:1;
      z-index:-1;
      top:5em;
      scale:14;
    }
    #pages_ ul,
    #posts_ ul,
    .markdown-body .rapat { margin:1rem 0;padding-left:1.3em }
    #pages_ ul li,
    #posts_ ul li,
    .markdown-body .rapat li { margin-left:0 }
block header
  .relative: #icon !{icon}
  h1 🕊️ The {{ site.title }} Project
mixin index_nav(ref)
  b: +sn(ref+"/")| !{capitalize(ref)}
  +angle
  +sn(ref+"/preview")| Preview
  +bull
  +sn(ref+"/samples")| Samples
block content
  .flex(style="gap:3rem")
    .fill#themes_
      h3.mt-0 Themes
      p.text-grey We are working on the following themes.
      ul.rapat
        li: +index_nav('core')
        li: +index_nav('mallet')
        li: +index_nav('prime')
        //- li: +index_nav('nova')
  +thin_hr
  p.text-grey Development posts and pages.
  //- - exclude_pages = [ ].join(",");
  //- - exclude_posts = [ ].join(",");
  +capture('pages')|{% include pages.md exclude="!{exclude_pages}" %}
  +capture('posts')|{% include posts.md exclude="!{exclude_posts}" %}
  .flex(style="gap:3rem")
    #pages_(style="min-width:250px")
      h3.mt-0 Pages
      |{{ pages | markdownify }}
      ul: li: +a('404') 404
    #posts_(style="min-width:250px")
      h3.mt-0 Posts
      |{{ posts | markdownify }}
  +thin_hr
  +if_dev
    +include('nav_test','dove/nav_test.md')
    +thin_hr
  h3 Configurations
  +include_relative('config','config.md')
