extends /_source/_layouts/prime
block append vars
  - path   = 'index.html'
  - title  = `Index`
block prepend html
  +---.
    title: 'Home'
block footer
  +thin_hr
  +site_footer
  +thin_hr
  p.text-right.text-grey: small: +edit_link(path)
block append style
  style.
    ._header,
    ._nav { display:none !important }
    ._footer { margin-top:1rem !important }
    h1.hero { font-family: 'Arial',system-ui,sans-serif }
    article .projects { margin:1rem 0;padding-left: 0;list-style: inside }
    article .projects li { margin-left:0 }
block content
  h1 🕊️ !{description}
  nav: p(style="margin:1rem 0")
      b| Home
      //- +_bull_
      //- +_a([base_url,'md'].join('/'))| Markdown
      +_bull_
      +_a([base_url,'pages'].join('/'))| Pages
      +_bull_
      +_a([base_url,'posts'].join('/'))| Posts
  +thin_hr
  .flex(style="gap:3rem;margin:1rem auto 1rem auto")
    .f
      h3 Markdown
      nav: ul.projects
        li: +site_nav('core')
        li: +site_nav('mallet')
        li: +site_nav('nova')
        li: +site_nav('prime')
    .f
      h3 Html
      nav: ul.projects
        li: +site_nav('core')
        li: +site_nav('mallet')
        li: +site_nav('nova')
        li: +site_nav('prime')
  +thin_hr
  +capture('pages')| {% include pages.md %}
  +capture('posts')| {% include posts.md %}
  .flex(style="gap:3rem;margin:1rem auto 1rem auto")
    .f
      h3 Pages
      !='{{ pages | markdownify }}'
    .f
      h3 Posts
      !='{{ posts | markdownify }}'
  h3 Configurations
  +capture('config')| {% include_relative config.md %}
  !='{{ config | markdownify }}'
