extends /_source/_layouts/default
mixin site_nav(sub)
  +sna(sub+"/"): b !{capitalize(sub)}
  +angle
  +sna(sub+"/preview.html")| Preview
  +bull
  +sna(sub+"/home.html")| Home
  +bull
  +sna(sub+"/page.html")| Page
  +bull
  +sna(sub+"/post.html")| Post
  +bull
  +sna(sub+"/404.html")| 404
block append vars
  - path   = 'index.html'
block prepend style
  //- style.
    @media (prefers-color-scheme: dark) {
      html,body { background-color:#000 }
    }
  style.
    #pages_ ul,
    #posts_ ul,
    article .rapat { margin:1rem 0;padding-left:1.3em }
    #pages_ ul li,
    #posts_ ul li,
    article .rapat li { margin-left:0 }
block header
  h1 🕊️ The !{site_title} Project
block content
  .flex(style="gap:3rem")
    .fill
      h3.mt-0 Themes
      p.text-grey We are working on the following themes.
      nav: ul.rapat
        li: +site_nav('core')
        li: +site_nav('mallet')
        li: +site_nav('nova')
        li: +site_nav('prime')
  +thin_hr
  |{%- if site.github.environment == 'development' -%}
  +include('nav_test','dove/nav_test.md')
  +thin_hr
  |{%- endif %}
  p.text-grey These are supporting posts and pages for the project.
  //- - exclude_pages = [ ].join(",");
  //- - exclude_posts = [ ].join(",");
  +capture('pages')|{% include pages.md exclude="!{exclude_pages}" %}
  +capture('posts')|{% include posts.md exclude="!{exclude_posts}" %}
  .flex(style="gap:3rem")
    #pages_(style="min-width:250px")
      h3.mt-0 Pages
      |{{ pages | markdownify }}
      ul: li: +a('404') 404
    #posts_(style="min-width:250px")
      h3.mt-0 Posts
      |{{ posts | markdownify }}
  +thin_hr
  h3 Configurations
  +include_relative('config','_config.md')
