extends /_source/_layouts/default
block append vars
  - path   = 'test_pug.html'
  - title  = 'Test Pug'
  - description = 'Testing something here.'
  - testing = false
block prepend front_matter
  +l| index: false
  +l| use_footer: edit_link_only
block content
  +include('nav_test','dove/nav_test.md')
  +thin_hr
  if testing
    pre.highlight: code.
  
  else
    .
      {%-
        include 404.md
        title = "Sorry"
        description = "There is nothing to show here."
      %}
//- block content
  h6 test.pug