@use "sass:color";
@use "color" as *;
@use "helper";
@use "dove";
@use "_primer";
// ---------------------------------------------------------------
._1200 { max-width:1200px; @extend .mc; position:relative }
._960 { max-width:960px; @extend .mc; }
// ---------------------------------------------------------------
.button.primary {
  background-color:$text-blue;
  border-color:$text-blue;
  color:#fff;
}
.button.secondary {
  background-color:$text-slategrey;
  border-color:$text-slategrey;
  color:#fff;
}
// ---------------------------------------------------------------
// fixes
body { overflow-y:scroll }
a { color:$text-blue }
details { 
  margin-bottom:16px;
  summary {
    @extend .pointer;
    p { @extend .inline; }
  }
}
article {
  img { @extend .block; }
}
.markdown-body {
  h1,h2 { border-color:#ccc }
  p { margin-top:16px }
  blockquote { color:inherit }
  table {
    & { display:table; border-collapse:collapse; border:1px solid; width:auto }
    thead tr { background-color: #f6f8fa }
    &, th, td { border-color:#dfe2e5 }
  }
  img { background-color:transparent;color:#888 }
  ._header h1 { margin-top: .67em !important }
  .highlight { &,& pre { border-radius:5px }}
  ._footer {margin-bottom:4rem !important}
}
hr.thin {
  height:0;
  background:none;
  background-color: #ccc;
  border-bottom:1px solid transparent;
  margin:16px 0;
}
._header ._logo { font-size:1.5rem }
._header ._logo a { color:inherit;text-decoration:none }
._header ._logo a:hover { color:$text-blue }
.hero { line-height:1.15 }
.text-yellow { color:$text-yellow !important }
.text-orange { color:$text-orange !important }
.text-gray,.text-grey { color:$text-grey !important }
.text-slategray,.text-slategrey { color:$text-slategrey !important }
.text-primary { color:$text-blue }
.text-secondary { color:$text-slategrey }
.text-justify { text-align:justify }
.bg-primary { background-color:$text-blue }
.bg-primary { code,tt { background-color: rgba(#1b1f23,.15); } }
.border-primary{ @extend .border-blue; }
.box { border-radius:5px; border-color: #999; @extend .ph; }
.itext, .isvg { line-height:.7 }

// ---------------------------------------------------------------
._dark {
  body {
    color: color.invert(#24292e);
    background-color: color.invert(#fff);
  }
  blockquote,.box { border-color:#333 }
  code,tt { background-color: rgba(color.invert(#1b1f23),.15); }
  article {
    pre,
    .highlight pre,
    .highlight { background-color: color.invert(#e6e8ea); }
    .highlight {
      code { background:none }
      .err { color:#d22 }
      .gr, .gt { color: #e36; }
      .ne, .nf, .nl { color:#c33 }
      .ni { color: #a3a; }
      .o { color:#fff }
      .nt,.nc,.nn { color: #8080ab; }
      .k,.kd,.kc,.kp { color:#dbd6d1 }
    }
    table {
      &, th, td { border-color:#333 }
      tr { background-color: color.invert(#fff); }
      tr:nth-child(2n),
      thead tr { background-color: #111 }
    }
  }
  .markdown-body {
    h1,h2 { border-color:#333 }
  }
  hr { background-color: #333 }
  .border-gray-light { border-color:#333 !important }
  .bg-primary {
    code,tt { background-color: rgba(color.invert(#1b1f23),.23); }
  }
}
// ---------------------------------------------------------------
._logo { display:block }
._theme_switch {
  a { font-size:1.5em;color:inherit }
  a:hover { color:$text-blue }
}