@use "sass:color";
@use "color" as *;
@use "_primer";
@use "dove";
@use "helper";
// ---------------------------------------------------------------
._1200 { max-width:1200px; @extend .mc; position:relative }
._960  { max-width:960px;  @extend .mc; position:relative }
// ---------------------------------------------------------------
$bg : #fff;
$text_color  : #222;
$grey_border : #ccc;
$code_bg : rgba(#ddd,.7);
$code_tc : #444;
$pre_bg  : #f4f4f4;
// ---------------------------------------------------------------
%std_bg { background-color:$bg }
%std_border { border-color:$grey_border }
%std_margin { margin:16px 0 }
body { @extend .scroll_y; }
u,abbr { text-underline-offset:.2em }
details { 
  & { @extend %std_margin; }
  summary {
    @extend .pointer;
    p { @extend .inline; }
  }
}
img { @extend .block; }
figure { margin:1em 2em }
article {
  img { border-radius:5px }
}
.markdown-body {
  hr {
    @extend %std_margin;
    height:0;
    background:0;
    border-width:0;
    border-bottom:.25em solid $grey_border;
  }
  h1,h2 { @extend %std_border; }
  h5,h6 { color:inherit }
  kbd { padding:.5em;font-size:85% }
  pre,code,tt,samp,kbd { @extend .mono; }
  code,tt,kbd { background-color:$code_bg;color:$code_tc }
  blockquote { @extend %std_border;@extend .inherit_color; }
  p { @extend %std_margin; }
  img { @extend .no_bg;@extend .text-grey; }
  table {
    &, th, td { @extend %std_border; }
    thead tr { background-color:#e7e7e7 }
    tr:nth-child(2n) { background-color:#f7f7f7 }
  }
  pre.highlight { @extend .scrollable; }
  div.highlight { overflow:hidden }
  .highlight,pre,
  .highlight pre { border-radius:5px;background-color:$pre_bg }
  .task-list { padding-left:.25em; ul,ol { padding-left:2em } }
  ._header h1 { margin-top:.67em !important } // the logo holder
  ._footer { margin-bottom:4rem !important }
}
hr.thin {
  height:0;
  border-bottom:1px solid $grey_border;
}
._header ._logo {
  a { font-size:1.5rem;@extend .inherit_color;@extend .no_u; }
  a:hover { @extend .text-blue; }
}
.hero { line-height:1.15 }
.box { border-radius:5px;@extend %std_border;@extend .ph; }
._theme_switch {
  a,a:focus { font-size:1.5em;@extend .inherit_color; }
  a:hover { @extend .text-blue; }
}
.itext,.isvg { line-height:.8 }
.button.primary {
  @extend .bg-blue;
  @extend .border-blue;
  @extend .text-white;
}
.button.secondary {
  @extend .bg-slategrey;
  @extend .border-slategrey;
  @extend .text-white;
}
.highlight {
  .hll { background-color:rgba($text-yellow,.15); }
}
.rouge-table td.code,
.rouge-table td.gutter { vertical-align:top }
// ---------------------------------------------------------------
$dark_bg : color.invert($bg);
$dark_text_color : color.invert($text_color);
$dark_code_bg : rgba(#333,.7);
$dark_code_tc : #bbb;
$dark_pre_bg  : #171717;
// ---------------------------------------------------------------
%dark_std_bg { background-color:color.invert($bg) }
%dark_std_border { border-color:color.invert($grey_border) }
._dark {
  body { color:color.invert($text_color);@extend %dark_std_bg; }
  code,tt,kbd { background-color:$dark_code_bg;color:$dark_code_tc }
  kbd { border-color:$dark_code_bg;box-shadow:inset 0 -1px 0 $dark_code_bg; }
  .markdown-body {
    hr { border-color:color.invert($grey_border) }
    h1,h2 { @extend %dark_std_border; }
    blockquote { @extend %dark_std_border; }
    .highlight,pre,
    .highlight pre { background-color:$dark_pre_bg }
    .highlight code { @extend .no_bg; }
    table {
      &, th, td { @extend %dark_std_border; }
      tr { @extend %dark_std_bg; }
      thead tr { background-color:#242424 }
      tr:nth-child(2n) { background-color:#141414 }
    }
  }
  .highlight {
    .err { background-color:#fdd;color:#d22 }
    .gd { background-color:rgba($text-red,.25);color:$text-white }
    .gi { background-color:rgba($text-green,.25);color:$text-white }
    .ss { color:#939 }
    .si,.s1,.s2,
    .gr,.gt { color: #f36; }
    .ne,.nf,.nl { color:#b33 }
    .nd { color:#475; }
    .ni { color: #a3a; }
    .no { color: #0aa }
    .o { color:#fff }
    .nt,.nc,.nn { color: #37a; }
    .k,.kd,.kc,.kp { color:#dbd6d1 }
    .mh { margin:0 }
  }
  .box { @extend %dark_std_border; }
}