@use "_color" as *;
@use "sass:color";
@use "_primer";
@use "helper";
@use "core";
// ---------------------------------------------------------------
// fixes
body{overflow-y:scroll}

.text-gray,.text-grey { color:$text-grey }
.text-slategray,.text-slategrey { color:$text-slategrey }

.text-primary { color:$text-blue }
.text-secondary { color:$text-slategrey }

.text-justify{text-align:justify}

.bg-primary { background-color:$text-blue }

details { margin-bottom: 16px }

.markdown-body {
  .bg-primary {
    code,tt { background-color: rgba(#1b1f23,.15); }
  }
  img { display:block }
  table {
    & { display:table;border-collapse:collapse;border:1px solid;width:auto }
    thead tr { background-color: #f6f8fa }
    &, th, td { border-color:#dfe2e5 }
    &.full-width { width:100% }
    &.simple { td, th { border-width:1px 0 } }
    &.borderless { &, tr, td, th { border:0;background:none } }
  }
}

.footnote,
.reversefootnote { text-decoration:none !important }

// ---------------------------------------------------------------
._dark {
  body {
    color: color.invert(#24292e);
    background-color: color.invert(#fff);
  }
  .markdown-body {
    h1,h2 { border-color:#444 }
    code,tt { background-color: rgba(color.invert(#1b1f23),.15); }
    .bg-primary {
      code,tt { background-color: rgba(color.invert(#1b1f23),.23); }
    }
    table {
      &, th, td { border-color:#444 }
      tr { background-color: color.invert(#fff); }
      tr:nth-child(2n),
      thead tr { background-color: #111 }
      &.borderless tr { background:none }
    }
    .highlight,
    .highlight pre,
    pre { background-color: color.invert(#e6e8ea); }
    .highlight {
      code { background:none }
      .err { color:#d22 }
      .gr, .gt { color: #e36; }
      .ne, .nf, .nl { color:#c33 }
      .ni { color: #a3a; }
      .nt { color: #449; }
      .k,.o,.kd { color:#fff }
      .kc { color:#dbd6d1 }
    }
  }
  hr { background-color: #444 }
  blockquote { border-color:#444 }
  .border-gray-light { border-color:#444 !important }
}
// ---------------------------------------------------------------
._theme_switch {
  font-size:1.3em;
  a { color:inherit }
  a:hover { color:$text-blue }
}