mixin nav_(sub)
  - sub_url = [home_url,sub].join('/')+'/'
  b !{capitalize(sub)}
  +l
  +isvg(svgi.angle)
  +_a(sub_url)| Home
  +_a(sub_url+"preview.html")| Preview
  +_a(sub_url+"legacy.html")| Legacy
  +_a(sub_url+"page.html")| Page
  +_a(sub_url+"404.html")| 404