extends _html
block append vars
  - path   = '404.html'
  - title  = `Not found`
  - description = `The content you are looking for is not here.`
block content
  .flex(style="margin:1rem auto 3rem auto")
    .fit(style="font-size:4rem;padding:.8rem;") 🤷
    .f(style="padding:0 1rem")
      h2 Oops! Nothing found
      p #{ description }
  +thin_hr
  p: +nav_common
block footer