extends /_source/_layouts/prime
block append update_vars
  - path  = ['prime',path].join('/')
block append front_matter
  +l| index: false
block header
  h1|{% include dove/logo.html %}
block nav
  p: +site_nav('prime')
  +thin_hr