extends /_source/_layouts/prime
block append update_vars
  - sub  = 'prime'
  - path = [sub,path].join('/')
block prepend front_matter
  +l| index: false
block header
  h1|{% include dove/logo.html name="!{sub}" %}
block nav
  p: +site_nav(sub)
  +thin_hr
block footer
  +thin_hr
  p: code // site footer
  +_edit_link
