extends /_source/_layouts/prime
block append update_vars
  - path  = ['prime',path].join('/')
block prepend front_matter
  | index: false
  +l
block header
  h1|{% include dove_logo.html %}
block nav
  p: +site_nav('prime')
  +thin_hr