extends _html
block append vars
  - path   = 'home.html'
  - title  = `Home`
block content
  style.
    .hero_block_1 .site-description {
      margin-left: 3.3rem;
      font-size: 1.1em;
    }
    .hero_block_1 .hero-hr { margin-top:45px }
  .hero_block_1
    h1#_hero-title ⚒️ Heroic Title
    p.site-description Your site's description or mission statement.
