extends _html
block append vars
  - path   = 'index.html'
  - title  = `Prime`
block nav
  //- none
block content
  h1 !{title}

  nav.mv
    - sub = layout
    b Html
    +angle
    +sna(sub+"/preview.html")| Preview
    +bull
    +sna(sub+"/home.html")| Home
    +bull
    +sna(sub+"/page.html")| Page
    +bull
    +sna(sub+"/404.html")| 404

  nav.mv
    - sub = layout+'/md'
    b Markdown
    +angle
    +sna(sub+"/preview.html")| Preview
    +bull
    +sna(sub+"/home.html")| Home
    +bull
    +sna(sub+"/page.html")| Page
    +bull
    +sna(sub+"/404.html")| 404

  nav.mv
    - sub = layout
    b| Test
    +angle
    +sna(sub+"/test_colors.html")| Colors
    +bull
    +sna(sub+"/test_code-blocks.html")| Code blocks
