extends _html
block append vars
  - path   = 'preview.html'
  - title  = `Preview`
block content
  +include('preview','preview.md')
block footer
  +thin_hr
  p.text-right.text-grey: small: +edit_link(path)