extends /_pug_layouts/core
block nav
  +_a(home_url+"/core/")| Core
  +l
  +isvg(svgi.angle)
  +_a(home_url+"/core/home.html")| Home
  +_a(home_url+"/core/page.html")| Page
  +_a(home_url+"/core/demo.html")| Demo
  +_a(home_url+"/core/legacy.html")| Legacy
  +_a(home_url+"/core/404.html")| 404
block footer
  code // by Techie Joe !{year}