extends _html
block append vars
  - path   = 'legacy.html'
  - title  = `Legacy`
block content
  +include('legacy','preview-legacy.md')
block footer
  +thin_hr
  p.text-right.text-grey: small: +edit_link(path)