@use "color" as *;
@use "sass:color";
@use "helper";
@use "core";
@use "_mallet";
// ---------------------------------------------------------------
._960 { max-width:960px; @extend .mc; }
// ---------------------------------------------------------------
// fixes
.hero { color:#000;line-height:1.1 }
.footnotes{border:none}
._nav { padding:1rem 0;border-bottom: 2px solid rgba(128, 128, 128, .4); }
#footer {margin-bottom:3rem}
#footer { border-top: 2px solid rgba(128, 128, 128, .4); }
.markdown-body {
  summary { margin:0 }
  table {
    &.borderless {
      tr { background:none }
    }
  }
}
article {
  input[type=checkbox].task-list-item-checkbox {
    height:1.4em;
    width:1.4em;
  }
}
//---------------------------------------------------------------
._dark {
  .hero { color:#fff }
}
/*
body{color:#444}._dark body{color:#bbb}
._logo { font-family: 'Arial', system-ui, sans-serif; }
._logo { font-weight: 600 }
._logo, ._nav, ._theme_switch {
  a { text-decoration:none !important; color:inherit }
  a:hover { color:$text-blue }
}
dt{margin-top:.5rem}

th,dt,.hero,h1,h2,h3,h4,h5,h6{color:#000}._dark th,._dark dt,._dark .hero,._dark h1,._dark h2,._dark h3,._dark h4,._dark h5,._dark h6{color:#fff}
._app{overflow-y:scroll}
.indent,.big-first.indent{text-indent:3em}
.box{padding:.5em;border-radius:6px}

#_header-bar h1 { display:inline-block; margin:0; border:0; padding:0; font-size:1.2rem; line-height:1.5rem; }
#_title,#_header-bar #_title a{color:#888}
#_header-bar #_title a:hover{color: #4660e1}

article {
  pre {margin:.5rem;overflow:auto}
}

.markdown-body {
  blockquote{box-shadow:none;margin:1rem 0;padding:0 1rem;border-left:.5em solid rgba(128, 128, 128, 0.5)}
  details{margin:.5rem 0}
  summary{margin-bottom:0}
}
*/