@use "sass:color";
@use "color" as *;
@use "_mallet";
@use "dove";
@use "helper";
// ---------------------------------------------------------------
._1200 { max-width:1200px; @extend .mc; position:relative }
._960  { max-width:960px;  @extend .mc; position:relative }
// ---------------------------------------------------------------
$bg : #fff;
$text_color  : #222;
$grey_border : #ccc;
$code_bg : rgba(#ddd,.7);
$code_tc : #444;
$pre_bg  : #f4f4f4;
// ---------------------------------------------------------------
%std_bg { background-color:$bg }
%std_border { border-color:$grey_border }
%std_margin { margin:.5rem 0 }
// ---------------------------------------------------------------
body { @extend .scrollable;color:#444 }
hr { border-width:2px; &.thin { border-width:1px } }
h1,h2,h3,h4,h5,h6,.hero { color:#000 }
u,a,abbr,abbr[title] {
  text-underline-offset:.2em;
  text-underline-position: initial;
  text-decoration-thickness: initial;
  text-decoration-skip-ink: initial;
}
dt { margin-block-start:1rem }
dd { margin-block-end:1rem }
details { 
  & { @extend %std_margin; }
  summary {
    @extend .pointer;
    p { @extend .inline; }
  }
}
article {
  img { border-radius:5px }
}
.markdown-body {
  & { margin-top:0 !important } // to align with top bar
  blockquote { border-left:.5rem solid;box-shadow:none }
  summary { margin:0 }
  ._layout { padding:0;margin:0 auto }
  table {
    thead tr,
    tr:nth-child(2n) { background-color:#e5e5e5 }
    &.borderless { tr { background:none !important } }
  }
}
._app { overflow:initial;position:initial }
._header {
  h1 { margin-top:0;border:0 } // logo holder
  ._logo {
    & { font-size:1.5rem;line-height:1.5 }
    a {
      @extend .block;
      padding:.25rem;
      margin:-.25rem;
    }
  }
}
._theme_switch {
  a { font-size:1.25em }
  a,
  a:focus { @extend .inherit_color; }
  a:hover { @extend .text-blue; }
}
.itext,
.isvg { line-height:.8 }
.box { @extend .ph; }
div.highlight { overflow:hidden }
pre.highlight { @extend .scrollable; }
.highlight {
  .mh  { margin:0 }
  .hll { background-color:rgba($text-yellow,.15); }
}
.rouge-table {
  td.code,
  td.gutter { vertical-align:top }
}
.button {
  &.primary {
    @extend .bg-blue;
    @extend .border-blue;
    @extend .text-white;
  }
  &.secondary {
    @extend .bg-slategrey;
    @extend .border-slategrey;
    @extend .text-white;
  }
}
.footnotes {
  & { @extend .ba0; }
  ul,ol { list-style-position:inside }
  li>p { @extend .inline; }
}
._footer {
  & { margin-bottom: 4rem !important }
  ._layout { padding:0; font-size:1em }
}
._copyright_text,
._credit_link { background-color:#ddd !important }
// ---------------------------------------------------------------
._dark {
  body{color:#bbb}
  h1,h2,h3,h4,h5,h6,.hero { color:#fff }
  .markdown-body {
    table {
      thead tr,
      tr:nth-child(2n) { background-color: #1b1b1b }
    }
  }
  ._copyright_text,
  ._credit_link { background-color:#222 !important }
}