@use "color" as *;
@use "sass:color";
@use "helper";
@use "dove";
@use "_mallet";
// ---------------------------------------------------------------
// fixes
body { overflow:auto }
._app { overflow:initial;position:initial }
details { margin:.5rem 0 }
dt { margin-block-start:1rem }
dd { margin-block-end:1rem }
#header { padding-top:1rem }
#_title._logo a { display:inline-block;margin:13px 0 }
.hero { color:#000;line-height:1.1 }
._nav { padding:1rem 0;border-bottom: 2px solid rgba(128, 128, 128, .4); }
.text-yellow { color:$text-yellow !important }
article {
  input[type=checkbox].task-list-item-checkbox {
    height:1.4em;
    width:1.4em;
  }
}
.markdown-body {
  blockquote { border-left:.5rem solid;box-shadow:none }
  summary { margin:0 }
  table {
    &.borderless {
      tr { background:none !important }
    }
  }
}
.footnotes {border:none}
#footer {margin-top:3rem;margin-bottom:3rem}
._theme_switch { font-size:1.5em }
._copyright_text,
._credit_link { background-color:#ddd !important }
//---------------------------------------------------------------
._dark {
  .hero { color:#fff }
  .markdown-body {
    table {
      thead tr,
      tr:nth-child(2n) { background-color: rgba(#000,.1) }
    }
  }
  ._copyright_text,
  ._credit_link { background-color:#222 !important }
}