extends _html_preview
block append vars
  - path   = 'index.html'
  - title  = `Mallet Templates`
  - description = `Essential collection suitable for any project.`
block nav
  +hide_nav
block content
  style.
    .hero_block { padding:1rem 2rem }
    .hero_block .hero-title { margin-top:1rem }
    .hero_block .hero-description { margin-left: 3.3rem; font-size: 1.1em; }
    .hero_block .hero-hr { margin-top:45px }
  .hero_block.box
    h1.hero-title ⚒️ !{title}
    p.hero-description !{description}

  nav.mv
    +a('about')| About  
  +thin_hr

  nav.mv
    +test_nav(layout_name)
  +thin_hr

  nav.mv
    b Html
    +angle
    +site_nav(layout_name)
  +thin_hr

  nav.mv
    b Markdown
    +angle
    +site_nav(layout_name+'/md')