@use "sass:color";
@use "color" as *;
// ---------------------------------------------------------------
$grey: #888;
// ---------------------------------------------------------------

html,body{margin:0}
body{overflow-y:scroll}
hr { border: 1px solid $grey }
h1,h2,h3,h4,h5,h6 { margin-block-start:1.5em;margin-block-end:1rem }
p,details { margin-block-start:1rem;margin-block-end:1rem }
pre { padding:.5rem;overflow:auto }
code,tt { background-color: rgba($grey,.3);padding:0 .25em}
pre { code,tt {background:none} }
blockquote { border-left: .25rem solid $grey;padding: 0 .5rem; }
dt { margin-block-start:1rem;font-weight:bold }
dd { margin-block-end:1rem }
dt { font-style: italic }
a {
  & { color:$text-blue }
  &:visited { color:$text-purple }
  &:hover { color:$text-blue }
}
article {
  img {
    max-width: 100%;
    box-sizing: content-box;
  }
  table {
    & { border-collapse: collapse }
    &, td, th { border: 1px solid $grey }
    td, th { padding:.5em }
  }
}

// ---------------------------------------------------------------

.float-left{float:left}
.float-right{float:right}

.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.text-justify{text-align:justify}

.centered { display:block;margin-left:auto;margin-right:auto; }

.bg-primary{ @extend .bg-blue; }
.bg-secondary{ @extend .bg-slategrey; }
.bg-pending{ @extend .bg-yellow; }
.bg-white{background-color:#fff !important}
.bg-black{background-color:#000 !important}
.bg-blue{background-color:$text-blue !important}
.bg-slategray,.bg-slategrey{background-color:$text-slategrey !important}
.bg-gray,.bg-grey{background-color:$text-grey !important}
.bg-yellow{background-color:$text-yellow !important}
.bg-green{background-color:$text-green !important}
.bg-red{background-color:$text-red !important}
/*
.bg-purple{background-color:$text-purple}
.bg-orange{background-color:$text-orange}
.bg-orange-light{background-color:$text-orange-light}
*/

.text-primary{ @extend .text-blue; }
.text-secondary{ @extend .text-slategrey; }
.text-pending{ @extend .text-yellow; }
.text-white{color:#fff !important}
.text-black{color:#000 !important}
.text-blue{color:$text-blue !important}
.text-slategray,.text-slategrey{color:$text-slategrey !important}
.text-gray,.text-grey{color:$text-grey !important}
.text-yellow{color:$text-yellow !important}
.text-green{color:$text-green !important}
.text-red{color:$text-red !important}

.text-purple{color:$text-purple !important}
.text-orange{color:$text-orange !important}
.text-orange-light{color:$text-orange-light !important}

.border-primary{ @extend .border-blue; }
.border-secondary{ @extend .border-slategrey; }
.border-pending{ @extend .border-yellow; }
.border-white{border-color:#fff !important}
.border-black{border-color:#000 !important}
.border-blue{border-color:$text-blue !important}
.border-slategray,.border-slategrey{border-color:$text-slategrey !important}
.border-gray,.border-grey{border-color:$text-grey !important}
.border-yellow{border-color:$text-yellow !important}
.border-green{border-color:$text-green !important}
.border-red{border-color:$text-red !important}
/*
.border-purple{border-color:$text-purple}
.border-orange{border-color:$text-orange}
.border-orange-light{border-color:$text-orange-light}
*/

.footnote { padding:0 .15em }
.footnote,
.reversefootnote { text-decoration:none !important }