._logo { display:inline-block }
._theme_switch {
  position:absolute;
  position:fixed;
  top:6px;
  left:auto;
  right:6px;
  bottom:auto;
  a {
    display:inline-block;
    padding:.5rem;
    line-height:0;
  }
}
._copyright,
._credit {
  position:absolute;
  position:fixed;
  top:auto;
  bottom:6px;
}
._copyright {
  right:auto;
  left:6px;
}
._credit {
  right:6px;
  left:auto;
}
._copyright_text,
._credit_link {
  font-family: 'Arial', system-ui, sans-serif !important;
  font-size:12px !important;
  padding:.5em !important;
  border-radius:5px !important;
  background: #fff !important;
  color:inherit !important;
  text-decoration: none !important;
  line-height:2 !important;
}
._dark{
  ._copyright_text,
  ._credit_link { background: #000 !important }
}