._logo { display:inline-block }
._theme_switch {
  position:absolute;
  position:fixed;
  top:6px;
  left:auto;
  right:6px;
  bottom:auto;
  a {
    display:inline-block;
    padding:.5rem;
    line-height:0;
  }
}
._credit {
  position:absolute;
  position:fixed;
  top:auto;
  left:auto;
  right:6px;
  bottom:6px;
}
._credit_link {
  font-family: 'Arial', system-ui, sans-serif !important;
  font-size: .8rem !important;
  padding: .2em .4em !important;
  box-shadow: 0 2px 2px rgba(#000,.5) !important;
  border-radius: 5px !important;
  background: #000 !important;
  color: #fff !important;
  text-decoration: none !important;
}