.sans { font-family: 'Arial', system-ui, sans-serif }
.serif { font-family: 'Times New Roman', 'Times', serif }
.mono { font-family: 'Courier New', 'Courier', monospace, monospace }

.scrollable{overflow:auto}

details summary,
.pointer { cursor:pointer }

.flex { display:flex }
.fill { flex:1 }
.fit  { flex:0 }

.full-width{width:100%}

.hero {
  display:block;
  font-size:2.5em;
  margin-block-start:.67em;
  margin-block-end:.67em;
  font-weight: bold;
  line-height:1;
}

.indent{text-indent:2em}
.big-first.indent{text-indent:0}
.big-first.indent::first-letter{margin-left:2em}
.big-first::first-letter{
  float:left;
  font-size:4em;
  font-weight:700;
  line-height:.9;
  margin-right:.1em;
  font-family:"Georgia","Constantia,Cambria","Book Antiqua","Palatino Linotype","Big Caslon",serif;
}

.button {
  display:inline-block;
  border:1px solid;
  padding:.5em;
  margin:.25rem .25rem;
  border-radius:.25em;
  line-height:1;
  @extend .no_u;
}

.box {
  box-sizing:border-box;
  padding:.5em;
}

.ba0 { border:0 }
.bl0,.bh0 { border-left:0 }
.br0,.bh0 { border-right:0 }
.bt0,.bv0 { border-top:0 }
.bb0,.bv0 { border-bottom:0 }

.ba { border:1px solid #888 }
.bl,.bh { border-left:1px solid #888 }
.br,.bh { border-right:1px solid #888 }
.bt,.bv { border-top:1px solid #888 }
.bb,.bv { border-bottom:1px solid #888 }

.pa0 { padding:0 }
.pl0,.ph0 { padding-left:0 }
.pr0,.ph0 { padding-right:0 }
.pt0,.pv0 { padding-top:0 }
.pb0,.pv0 { padding-bottom:0 }

.pa_5 { padding:.5em }
.pl_5,.ph_5 { padding-left:.5em }
.pr_5,.ph_5 { padding-right:.5em }
.pt_5,.pv_5 { padding-top:.5em }
.pb_5,.pv_5 { padding-bottom:.5em }

.pa { padding:1em }
.pl,.ph { padding-left:1em }
.pr,.ph { padding-right:1em }
.pt,.pv { padding-top:1em }
.pb,.pv { padding-bottom:1em }

.mc { margin-left:auto;margin-right:auto }

.ma0 { margin:0 }
.ml0,.mh0 { margin-left:0 }
.mr0,.mh0 { margin-right:0 }
.mt0,.mv0 { margin-top:0 }
.mb0,.mv0 { margin-bottom:0 }

.ma_5 { margin:.5em }
.ml_5,.mh_5 { margin-left:.5em }
.mr_5,.mh_5 { margin-right:.5em }
.mt_5,.mv_5 { margin-top:.5em }
.mb_5,.mv_5 { margin-bottom:.5em }

.ma { margin:1em }
.ml,.mh { margin-left:1em }
.mr,.mh { margin-right:1em }
.mt,.mv { margin-top:1em }
.mb,.mv { margin-bottom:1em }

._icon { font-style:normal !important }
.itext,.isvg {
  width:1em;
  height:1em;
  display:inline-block;
  vertical-align:text-bottom;
  text-align: center;
  line-height:1;
}
.isvg svg {
  width:1em;
  height:1em;
  display:inline-block;
  vertical-align:text-bottom;
}

article {
  table {
    &.simple { td, th { border-width:1px 0 } }
    &.borderless { &, td, th { border:0 } }
  }
  .footnotes {
    font-size:.9em;
    li::marker {font-size:.8em}
  }
}

.no_u { text-decoration:none !important }
.no_wrap { white-space:nowrap !important }
.hide { display:none !important }