extends html
block vars
  -
    layout_name = 'mallet'
    htmlClass = [`_${layout_name}_layout`,'no_js']
    bodyClass = []
block style
  +main_style
block body
  ._views
    ._view._app.__fadein: ._layout.container-lg.markdown-body: +main_view
    ._view: ._layout: +l|{% include theme_switch.html %}
    +l|{% include layout_body.html %}
  //- ._views