extends html
block append vars
  -
    layout_name = 'prime'
    html_class  = [`_${layout_name}_layout`,'no_js']
block append style
  +main_style
block body
  main._view: ._main_layout._layout.container-lg.px-3.my-3.markdown-body: +main_view
  aside._view._topbar_view: ._topbar_layout._layout.container-lg.px-3
    +l|{% include theme_switch.html %}
  aside._view._lowbar_view: ._lowbar_layout._layout.container-lg.px-3
    +l|{% include copyright.html %}
    +l|{% include credit.html %}
  +l|{% include layout_body.html %}