extends /_pug/core
block append vars
  -
    title  = `Home`

block content
  <h1><a href="!{site_url}x">!{site_title}</a></h1>
  include _demo_old.html
  //- include _demo_new.html
  //- pre.
    title      : [ !{title||'(untitled)'} ]
    site_title : [ !{site_title?' | '+site_title:''} ]