extends /_pug/core
block append vars
  -
    title  = `Index`

block content
  div: p
    +_a("home.html")| Home
    +_a("page.html")| Page
    +_a("demo-old.html")| Old
    +_a("demo-new.html")| New
  pre.
    site_url: !{site_url}
    pugs_url: !{pugs_url}
