---
index: false
layout: raw
use_pug: true
title: Post
description: Post template.
---
<!DOCTYPE html>
<html class="_nova_layout no_js" lang="en-US">
<!-- path        : nova/post.html -->
<!-- layout      : _source/_layouts/nova -->
<!-- title       : Post -->
<!-- description : Post template. -->
  <head>
    <meta charset="utf-8"/>
{% seo %}
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222"/>
    <style>.isvg svg { width:1em;height:1em }</style>
    <link id="_style" rel="stylesheet" href="{{ site.base_url }}/assets/nova/css/style.css?r={{ site.revision | default: '0' }}.{{ site.github.build_revision | default: '0' }}"/>
{% include layout_head.html %}
<!--[if lt IE 9]><script src="https://unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="_views">
      <div class="_view">
        <div class="_layout">
          <header class="_header">
            <div class="_layout">
              <h1>{% include dove/logo.html name="nova" %}</h1>
            </div>
          </header>
          <nav class="_nav">
            <div class="_layout">
              <div class="mv"><b>Html</b><i class="_icon"><i class="isvg">
                    <svg viewBox="0 0 24 24">
                      <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" fill="currentColor" fill-opacity="1"></path>
                    </svg></i></i><a href="/dove/nova/home">Home</a><i class="_icon"><i class="itext">&bull;</i></i><a href="/dove/nova/page">Page</a><i class="_icon"><i class="itext">&bull;</i></i><b>Post</b><i class="_icon"><i class="itext">&bull;</i></i><a href="/dove/nova/404">404</a>
              </div>
              <hr class="thin"/>
            </div>
          </nav>
          <main class="_main">
            <article class="_article">
              <div class="_layout">
                <h1>Post title</h1>
                <p><code>// post content</code></p>
                <div class="mt-6"></div>
                <hr/>
                <h2>Other posts</h2>{%- capture posts %}{%- include posts.md %}{%- endcapture %}
{{ posts | markdownify }}
              </div>
            </article>
          </main>
          <footer class="_footer">
            <div class="_layout">
              <hr class="thin"/>
              <p><code>// site footer</code></p>
              <hr class="thin"/>
              <p class="text-right text-grey"><small>
                  This site is open source.
                  <a href="https://github.com/techie-joe/dove/edit/main/_source/nova/post.html.pug">Improve this page</a>.</small></p>
            </div>
          </footer>
        </div>
      </div>
      <div class="_view">
        <div class="_layout">
{% include theme_switch.html %}
        </div>
      </div>
{% include layout_body.html %}
    </div>
  </body>
</html>