extends _html
block append vars
  -
    path   = 'primer/404.html'
    title  = `Not found`
    description = `The content you are looking for is not here.`
block content
  h1 Oops! Nothing found
  p #{ description }
  div(style="margin-top:8rem")
  hr/
  p
    +back_button
    +l
    +gohome_button