$text-blue         : #0366d6;
$text-green        : #28a745;
$text-slategrey    : #789;
$text-grey         : #888;
$text-purple       : #6f42c1;
$text-red          : #cb2431;
$text-yellow       : #b08800;
$text-orange       : #a04100;
$text-orange-light : #e36209;