@use "_color" as *;
@use "sass:color";
@use "_primer";
@use "../../core/css/_base";
@use "../../core/css/_credit";
// ---------------------------------------------------------------
// primer fix
.text-gray,.text-grey{color:#888}
.text-slategray,.text-slategrey{color:#789}

.text-primary { color:$text-blue }
.text-secondary { color:$text-green }

.bg-primary { background-color:$text-blue }

.text-justify{text-align:justify}
// ---------------------------------------------------------------
._dark {
  body {
    color: color.invert(#24292e);
    background-color: color.invert(#fff);
  }
  .markdown-body {
    h1,h2 { border-color:#444 }
    code,tt { background-color:#222 }
    .highlight,
    .highlight pre,
    pre { background-color: color.invert(#e6e8ea); }
    .highlight {
      code { background:none }
      .err { color:#d22 }
      .gr, .gt { color: #e36; }
      .ne, .nf, .nl { color:#c33 }
      .ni { color: #a3a; }
      .nt { color: #449; }
      .k,.o,.kd { color:#fff }
      .kc { color:#dbd6d1 }
    }
    table {
      tr { background-color: color.invert(#fff); }
      th, td { border-color:#444 }
    }
  }
  hr { background-color: #444 }
  .box { border-color:#444 }
  .border-gray-light { border-color:#444 !important }
}